@charset "UTF-8";

body{
    padding: 36px 0px 36px 36px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
    letter-spacing:1.5px;
}

a{
    outline: none;
    color: #000;
}

a:focus{
    outline: none;
}

img{
    border:0;
    background-color:#FFFFFF;
}

.clear{
    clear:both;
}

.head{
    width:100%;
    margin-bottom:36px;
    text-align: center;
}

.project{
    margin-bottom:72px;
    overflow:hidden;
}

.images{
    position:relative;
}

.images img{
    position:absolute;
    cursor:move;
}

.headline{
    visibility:hidden;
    margin-bottom:36px;
}

.description{
    width:800px;
    visibility:hidden;
    margin-top:36px;
}